<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="database" value="Server =(local);Database =test;User ID=sa;Password =xysql123"/>
    <add key="LogFilePath" value="D:\"/>
    <add key="remoteIP" value="192.168.1.100"/>
    <add key="remoteport" value="8000"/>
    <add key="connecttype" value="0"/>
    <add key="com" value="0"/>
    <add key="baudrate" value="4"/>
    <add key="InventoryTime" value="1000"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="diaplay" value="yes"/>
    <add key="ShowEPCStyle" value="1"/>
    <add key="ShowIDStyle" value="1"/>
    <add key="IsRfidDataBaseWork" value="yes"/>
    <add key="IsAvtiveDataBaseWork" value="yes"/>
    <add key="IsCommandDataBaseWork" value="yes"/>
    <add key="CommandType" value="1"/>
    <add key="LogFilePath" value="D:\Log\ErrorLog"/>
    <add key="EventLogFilePath" value=""/>
    <add key="MultiEPCLogFilePath" value="D:\Log\MultiEPCLog"/>
    <add key="LogIsOpen" value="no"/>
  </appSettings>

</configuration>